{% extends "base.html" %}

{% block title %}Add task{% endblock %}

{% block content %}

    <h1>Add a task</h1>

    {% if feedback is defined %}
    <div class="error-pane">
      <ul>
          {% for item in feedback %}
            <li class="error">{{ item }}</li>
          {% endfor %}
      </ul>
    </div>
    {% endif %}

    <form action="/addtask" method="POST">
        
        <div class="form-group">

            <label for="description">Task Description</label>
            <textarea id="description" name="description">{{ description }}</textarea>

        </div>

        <div class="form-group">

            <label for="user">User</label>
            <select id="user" name="user">
                <option disabled="disabled" selected="selected" value="">Select</option>
                <option value="std">Regular User</option>
                <option value="adm">Admin User</option>
            </select>

        </div>

        <div class="form-group">

            <label for="pin">User PIN</label>
            <input id="pin" name="pin" type="password"/>

        </div>

        <button type="submit">Save task</button>

    </form>

{% endblock %}